.container-result {
    margin-top: 3%;
    margin-left: 2%
}

.container-notFound {
    margin-top: 15px;
    border: 1px solid red;
    background-color: lightpink;
    height: 40px;
    display: flex;
}

.notFound {
    font-size: 20px;
    font-weight: 500;
    align-self: center;
    margin-left: 10px;
}

.row {
    display: flex;
}

.gray {
    color: gray;
}

.weather-label {
    width: 120px;
    text-align: left;
}

.weather-place {
    font-size: 15px;
    margin-right: 1%;
    float: left;
}

.weather {
    font-size: 35px;
    font-weight: bolder;
}